In [35]:
#Importing Necessary Libraries
import pandas as pd
import json
import re

# Importing Merged Dataset

In [49]:
dtype_spec = {0: 'str', 1: 'str', 10: 'str'} 
df = pd.read_csv('merged_data.csv', dtype=dtype_spec)
df['type_conn_perc'] = df['type_conn_perc'].str.replace(',', '.').astype(float)
df = df.sample(20000)

/var/folders/cg/k76n2vc543bg73x1_j26mktm0000gn/T/ipykernel_6000/525571209.py:2: DtypeWarning:

Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.

AttributeError: 'DataFrame' object has no attribute 'to_cscv'

## Data Exploration:

In [11]:
display(df_train.info())
display(df_train.sample(20))
display(df_train.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 2740681 to 2201366
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   net_manager                   14892 non-null  object
 1   purchase_area                 11791 non-null  object
 2   street                        15000 non-null  object
 3   zipcode_from                  15000 non-null  object
 4   zipcode_to                    15000 non-null  object
 5   city                          15000 non-null  object
 6   num_connections               15000 non-null  float64
 7   delivery_perc                 14992 non-null  float64
 8   perc_of_active_connections    14995 non-null  float64
 9   type_conn_perc                360 non-null    float64
 10  type_of_connection            14630 non-null  object
 11  annual_consume                15000 non-null  float64
 12  annual_consume_lowtarif_perc  14950 non-null  float64
 13  smartmeter_perc               14950 non-null  float64
 14  year                          15000 non-null  int64
dtypes: float64(7), int64(1), object(7)
memory usage: 1.8+ MB

None

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year
351194,Enexis B.V.,ENEXIS,Dr. Schaepmanstraat,5051JK,5051JK,GOIRLE,26.0,100.00,100.00,NaN,1X25,2092.00,28.00,0.00,2012
2796774,Liander NB,LIANDER,Zanddijk,1693LX,1693LX,WERVERSHOOF,14.0,100.00,100.00,NaN,1x25,2740.00,100.00,100.00,2019
1476904,Liander N.V.,NaN,Paul van Ostaijenstraat,6708RX,6708RX,WAGENINGEN,15.0,100.00,100.00,NaN,3x25,4435.00,13.33,0.00,2009
917864,Enexis B.V.,ENEXIS,Havensingel,5211TZ,5211TZ,'S-HERTOGENBOSCH,50.0,96.00,100.00,NaN,1X35,3788.00,25.00,10.00,2017
1730699,Liander N.V.,NaN,Fluitekruidlaan,3925SE,3925SE,SCHERPENZEEL GLD,25.0,100.00,100.00,NaN,1x25,4599.00,32.00,0.00,2011
26081,Endinet,8.716887000000027e+17,Julianahof,5611HX,5611HZ,EINDHOVEN,53.0,100.00,100.00,NaN,1x35,3537.67,3.77,0.00,2012
3057028,8716892000005,Stedin,Steenvoordelaan,2284EG,2284EG,RIJSWIJK ZH,18.0,100.00,100.00,NaN,1x35,1922.00,33.33,0.00,2009
586318,Enexis B.V.,ENEXIS,De Ploeg,5384HK,5384HK,HEESCH,22.0,100.00,100.00,NaN,1X25,2931.00,5.00,5.00,2014
3304282,8716892000005,Stedin,Madeliefveld,2492LZ,2492MC,'S-GRAVENHAGE,41.0,100.00,95.12,NaN,1x35,3053.00,97.56,4.88,2012
2326363,Liander N.V.,NaN,Sydwende,9204KG,9204KG,DRACHTEN,30.0,83.33,93.33,NaN,3x25,5016.00,66.67,16.67,2015
2395118,Liander N.V. (ZW),NaN,Beukenrode,2215JA,2215JA,VOORHOUT,29.0,100.00,93.10,NaN,3x25,3271.00,62.07,6.90,2016
1630491,Liander N.V.,NaN,Kennemerland,7325ZG,7325ZG,APELDOORN,34.0,100.00,97.06,NaN,3x25,2882.00,5.88,0.00,2010
994119,Enexis B.V.,ENEXIS,Eenerstraat,9331HA,9331HA,NORG,10.0,100.00,100.00,NaN,3X25,5504.00,35.00,10.00,2017
3071041,8716886000004,Stedin Delfland,Rotterdamseweg,2628AH,2628AH,DELFT,28.0,100.00,100.00,NaN,1x35,4175.00,100.00,7.14,2009
3020992,Liander NB,LIANDER,Rijnstraat,8226LT,8226LV,LELYSTAD,21.0,61.90,100.00,NaN,1x25,1596.00,47.62,38.10,2020
3352379,8716892000005,Stedin,Eemsteintoren,3332MX,3332MX,ZWIJNDRECHT,41.0,100.00,100.00,NaN,1x35,2101.00,97.56,92.68,2012
988328,Enexis B.V.,ENEXIS,Van Middachtenmarke,8016GD,8016GD,ZWOLLE,14.0,64.00,100.00,NaN,1X35,3058.00,49.00,21.00,2017
653099,Enexis B.V.,ENEXIS,Raaigras,8935GE,8935GE,LEEUWARDEN,15.0,100.00,100.00,NaN,1X35,3276.00,14.00,0.00,2014
1699087,Liander N.V. (NW),Liander NW,Slingerweg,1791AW,1791AW,DEN BURG,11.0,100.00,81.82,NaN,3x25,16188.00,72.73,0.00,2011
3935411,8716892000005,Stedin,Betje Wolffstraat,3314RA,3314RA,DORDRECHT,14.0,100.00,100.00,NaN,1x35,3091.00,92.86,57.14,2019

,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year
count,15000.000000,14992.000000,14995.000000,360.000000,15000.000000,14950.000000,14950.000000,15000.000000
mean,23.317267,95.854026,96.947822,72.880111,4387.355021,53.147103,23.395305,2014.756200
std,14.922846,9.492959,9.700107,16.528627,3438.751665,30.855627,32.594906,3.349156
min,10.000000,0.000000,0.000000,30.000000,0.000000,0.000000,0.000000,2009.000000
25%,16.000000,95.450000,100.000000,59.772500,2668.000000,28.905000,0.000000,2012.000000
50%,20.000000,100.000000,100.000000,72.730000,3473.000000,49.245000,6.000000,2015.000000
75%,26.000000,100.000000,100.000000,86.692500,4622.000000,83.330000,35.710000,2018.000000
max,541.000000,100.000000,100.000000,100.000000,46606.000000,100.000000,100.000000,2020.000000

In [12]:
display(df_test.info())
display(df_test.sample(20))
display(df_test.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 1691700 to 1086521
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   net_manager                   4960 non-null   object
 1   purchase_area                 3912 non-null   object
 2   street                        5000 non-null   object
 3   zipcode_from                  5000 non-null   object
 4   zipcode_to                    5000 non-null   object
 5   city                          5000 non-null   object
 6   num_connections               5000 non-null   float64
 7   delivery_perc                 4996 non-null   float64
 8   perc_of_active_connections    4997 non-null   float64
 9   type_conn_perc                129 non-null    float64
 10  type_of_connection            4869 non-null   object
 11  annual_consume                5000 non-null   float64
 12  annual_consume_lowtarif_perc  4983 non-null   float64
 13  smartmeter_perc               4983 non-null   float64
 14  year                          5000 non-null   int64
dtypes: float64(7), int64(1), object(7)
memory usage: 625.0+ KB

None

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year
583508,Enexis B.V.,ENEXIS,Maaskantje,5271XH,5271XH,SINT-MICHIELSGESTEL,18.0,100.00,100.00,NaN,3X25,4782.00,29.00,0.00,2014
3971521,8716892000005,Stedin,Baarssingel,2492MG,2492MG,'S-GRAVENHAGE,38.0,71.05,100.00,NaN,1x35,3695.92,100.00,71.05,2020
1131855,Enexis B.V.,ENEXIS,Jan Pelleboerplein,9765BR,9765BR,PATERSWOLDE,18.0,100.00,100.00,NaN,3x25,4954.61,36.88,72.22,2018
4001816,8716892000005,Stedin,Develstraat,3073LD,3073LD,ROTTERDAM,14.0,100.00,100.00,NaN,1x35,1608.21,85.71,64.29,2020
530685,Enexis,ENEXIS,Zonnebloemstraat,8012XH,8012XH,ZWOLLE,16.0,100.00,100.00,NaN,1X35,3179.00,18.00,0.00,2013
3489566,8716921000006,Stedin Midden-Holland,Stadspolderstraat,2807MS,2807MS,GOUDA,16.0,100.00,100.00,NaN,1x35,2787.00,93.75,6.25,2014
3712761,8716892000005,Stedin,Franciscushof,4133BC,4133BC,VIANEN UT,20.0,100.00,100.00,NaN,1x35,3944.00,100.00,10.00,2016
1513112,Liander N.V.,NaN,It Apelhof,9074BH,9074BH,HALLUM,14.0,100.00,100.00,NaN,3x25,2377.00,7.14,0.00,2009
2556898,Liander N.V.,NaN,Carnotstraat,6533DZ,6533DZ,NIJMEGEN,107.0,100.00,100.00,NaN,1x25,3198.00,18.69,10.28,2017
3068612,8716892000005,Stedin,Usselincxstraat,2593VN,2593VN,'S-GRAVENHAGE,22.0,100.00,100.00,NaN,1x35,1922.00,72.73,0.00,2009
1791967,Liander N.V. (NW),Liander NW,Bestevaerstraat,1055TN,1055TN,AMSTERDAM,40.0,100.00,100.00,NaN,1x35,1786.00,2.50,0.00,2012
2580758,Liander N.V.,NaN,Paulus Potterstraat,7141XL,7141XL,GROENLO,10.0,100.00,100.00,NaN,3x25,2714.00,30.00,0.00,2017
212847,Enexis B.V.,ENEXIS,Asserstraat,9461GD,9461GD,GIETEN,14.0,100.00,100.00,NaN,NaN,3068.00,33.00,0.00,2010
1853007,Liander N.V. (ZW),NaN,Paul Krugerstraat,2242XJ,2242XJ,WASSENAAR,13.0,100.00,100.00,NaN,1x25,1803.00,38.46,0.00,2012
2333502,Liander N.V. (NW),Liander NW,Narwalstraat,1035JE,1035JE,AMSTERDAM,20.0,100.00,100.00,NaN,1x25,3142.00,15.00,10.00,2016
2336904,Liander N.V. (NW),Liander NW,Henk Hienschstraat,1063CK,1063CK,AMSTERDAM,17.0,100.00,64.71,NaN,1x35,908.00,29.41,35.29,2016
2968099,Liander NB,LIANDER,Akkerhoornbloem,2317KS,2317KS,LEIDEN,15.0,73.33,100.00,NaN,3x25,3838.00,100.00,86.67,2020
1273183,Enexis B.V.,ENEXIS,Pieter Stastokstraat,4906GD,4906GD,OOSTERHOUT NB,31.0,64.52,100.00,NaN,1x35,3315.26,55.95,90.32,2020
4000661,8716892000005,Stedin,Driesprong,2965AG,2965AG,NIEUWPOORT,14.0,92.86,100.00,NaN,1x35,2445.14,100.00,92.86,2020
1146219,Enexis B.V.,ENEXIS,De Meerberg,4849AJ,4849AJ,DORST,13.0,92.31,100.00,NaN,1x25,3514.92,58.47,84.62,2019

,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year
count,5000.000000,4996.000000,4997.000000,129.000000,5000.000000,4983.000000,4983.000000,5000.000000
mean,23.124000,95.900552,97.023198,74.518062,4496.712812,52.964267,23.846321,2014.794400
std,14.210426,9.790196,9.185335,17.435067,3605.749050,31.090828,32.815674,3.396003
min,10.000000,0.000000,0.000000,44.000000,0.000000,0.000000,0.000000,2009.000000
25%,16.000000,95.650000,100.000000,58.820000,2700.000000,28.570000,0.000000,2012.000000
50%,20.000000,100.000000,100.000000,75.000000,3510.500000,50.000000,6.000000,2015.000000
75%,26.000000,100.000000,100.000000,90.320000,4752.000000,83.330000,40.000000,2018.000000
max,241.000000,100.000000,100.000000,100.000000,49869.000000,100.000000,100.000000,2020.000000

# Checkin for Null Values

In [13]:
df_train.isnull().sum()

net_manager                       108
purchase_area                    3209
street                              0
zipcode_from                        0
zipcode_to                          0
city                                0
num_connections                     0
delivery_perc                       8
perc_of_active_connections          5
type_conn_perc                  14640
type_of_connection                370
annual_consume                      0
annual_consume_lowtarif_perc       50
smartmeter_perc                    50
year                                0
dtype: int64

In [14]:
numerical_cols = df_train.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = df_train.select_dtypes(include=['object']).columns

df.info()
print("NumCols:",numerical_cols,'\n', "CatCols:",categorical_cols)

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 1001388 to 3457707
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   net_manager                   19852 non-null  object
 1   purchase_area                 15703 non-null  object
 2   street                        20000 non-null  object
 3   zipcode_from                  20000 non-null  object
 4   zipcode_to                    20000 non-null  object
 5   city                          20000 non-null  object
 6   num_connections               20000 non-null  float64
 7   delivery_perc                 19988 non-null  float64
 8   perc_of_active_connections    19992 non-null  float64
 9   type_conn_perc                489 non-null    float64
 10  type_of_connection            19499 non-null  object
 11  annual_consume                20000 non-null  float64
 12  annual_consume_lowtarif_perc  19933 non-null  float64
 13  smartmeter_perc               19933 non-null  float64
 14  year                          20000 non-null  int64
dtypes: float64(7), int64(1), object(7)
memory usage: 2.4+ MB
NumCols: Index(['num_connections', 'delivery_perc', 'perc_of_active_connections',
       'type_conn_perc', 'annual_consume', 'annual_consume_lowtarif_perc',
       'smartmeter_perc', 'year'],
      dtype='object')
 CatCols: Index(['net_manager', 'purchase_area', 'street', 'zipcode_from', 'zipcode_to',
       'city', 'type_of_connection'],
      dtype='object')

# Changing ZipCodes for working with GEOJSON

In [15]:
def remove_letters_from_zip(zip_code):
    return re.sub(r'[^\d]', '', zip_code)

df_train['zipcode_processed'] = df_train['zipcode_from'].apply(remove_letters_from_zip)
df_test['zipcode_processed'] = df_test['zipcode_from'].apply(remove_letters_from_zip)

In [16]:
df_train['zipcode_processed']

2740681    8502
2861603    7006
2453959    8392
28023      5624
939176     5688
           ...
1049536    5554
2571763    6871
3649518    2625
3639473    2525
2201366    1065
Name: zipcode_processed, Length: 15000, dtype: object

# Checkin GEOJSON to make a Choropleth Map

In [17]:
#GEOJSON DATA FROM: https://public.opendatasoft.com/explore/dataset/georef-netherlands-postcode-pc4/table/?sort=-year&location=9,52.51455,6.42563&basemap=jawg.light&dataChart=eyJxdWVyaWVzIjpbeyJjb25maWciOnsiZGF0YXNldCI6Imdlb3JlZi1uZXRoZXJsYW5kcy1wb3N0Y29kZS1wYzQiLCJvcHRpb25zIjp7InNvcnQiOiIteWVhciIsImJhc2VtYXAiOiJqYXdnLmxpZ2h0IiwibG9jYXRpb24iOiI5LDUyLjUxNDU1LDYuNDI1NjMifX0sImNoYXJ0cyI6W3siYWxpZ25Nb250aCI6dHJ1ZSwidHlwZSI6ImxpbmUiLCJmdW5jIjoiQ09VTlQiLCJzY2llbnRpZmljRGlzcGxheSI6dHJ1ZSwiY29sb3IiOiIjRkY1MTVBIn1dLCJ4QXhpcyI6InllYXIiLCJtYXhwb2ludHMiOiIiLCJ0aW1lc2NhbGUiOiJ5ZWFyIiwic29ydCI6IiJ9XSwiZGlzcGxheUxlZ2VuZCI6dHJ1ZSwiYWxpZ25Nb250aCI6dHJ1ZX0%3D
with open('georef-netherlands-postcode-pc4.geojson', 'r') as f:
    geo_json_data = json.load(f)

# Handle Mistakes in Data Entries for some files, the netmanager column was swapped by the purchase area.

In [24]:
def correct_swapped_values(row):
    try:
        # Trying to convert 'net_manager' to a float. If it succeeds, it's likely a number.
        float(row['net_manager'])
        # If successful, swap 'net_manager' and 'purchase_area'
        return row['purchase_area'], row['net_manager']
    except ValueError:
        # If it fails, 'net_manager' is not a number and is likely correct
        return row['net_manager'], row['purchase_area']

# Apply the correction function to each row
df_train['net_manager'], df_train['purchase_area'] = zip(*df_train.apply(correct_swapped_values, axis=1))
df_test['net_manager'], df_test['purchase_area'] = zip(*df_test.apply(correct_swapped_values, axis=1))

# Data Cleaning

In [25]:
df_train.net_manager.unique()

array(['Liander N.V.', 'Liander NB', 'Endinet', 'Enexis B.V.',
       'Liander N.V. (NW)', 'Stedin Utrecht', 'Stedin', 'Stedin Delfland',
       'Enexis', 'Coteq Netbeheer BV', 'westland-infra',
       'Enduris Netgebied', 'Stedin Midden-Holland', 'Liander N.V. (ZW)',
       'Stedin Schiedam', 'Stedin Weert', 'Cogas Infra & Beheer BV',
       '871691280000000008', 'Stedin Elektriciteit Zuid-Kennemerland'],
      dtype=object)

# Dropping Problematic entries

In [26]:
values_to_drop = ['871691280000000008']

# Drop rows containing any of the specified values
df_train = df_train[~df.isin(values_to_drop).any(axis=1)]
df_test = df_test[~df.isin(values_to_drop).any(axis=1)]

/var/folders/cg/k76n2vc543bg73x1_j26mktm0000gn/T/ipykernel_6000/890609853.py:4: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/var/folders/cg/k76n2vc543bg73x1_j26mktm0000gn/T/ipykernel_6000/890609853.py:5: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

# Checking NUll

In [27]:
df_train.isnull().sum()

net_manager                         0
purchase_area                    3317
street                              0
zipcode_from                        0
zipcode_to                          0
city                                0
num_connections                     0
delivery_perc                       3
perc_of_active_connections          0
type_conn_perc                  14590
type_of_connection                370
annual_consume                      0
annual_consume_lowtarif_perc        0
smartmeter_perc                     0
year                                0
zipcode_processed                   0
dtype: int64